<nav class="navbar navbar-expand-custom navbar-mainbg">
    
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item">
                <a class="nav-link" routerLink=""><i class="fas fa-tachometer-alt"></i>Anasayfa</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink='school'><i class="far fa-address-book"></i>Eğitim Bilgileri</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='work'><i class="far fa-clone" ></i>Ben Kimim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink='place'><i class="far fa-calendar-alt"></i>Çalıştığım Yerler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="okul"><i class="far fa-chart-bar"></i>Eğitim Bilgileri</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"routerLink='doc'><i class="far fa-copy"></i>Documents</a>
            </li>
        </ul>
    </div>
</nav>

