<div class="dd" >


<div class="card">
    <div class="header">
        <div class="img-box">
            <img class="img-box1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5s9RgPIP8FoLzyKXoNUp_s4zhLvUedwNyEpUkgUQHRw&s" alt="">
           
        </div>
        <span class="title">Fernus 
    </span></div>

    <div class="content">
        <p>
            Android Developer olarak 2018 yılında başladığım Fernus yazılımdan 2020 de ayrıldım
        </p>

        <a class="btn-link">Read More...</a>
    </div>
</div>
<div class="card">
    <div class="header">
        <div class="img-box">
            <img class="img-box1" src="https://files.sikayetvar.com/lg/cmp/35/35510.png?1643822707" alt="">
           
        </div>
        <span class="title">Proliz Yazılım
    </span></div>

    <div class="content">
        <p>
            2023 Ağustos ayında Yazılım Uzmanı olarak başladığım proliz yazılımdan Kasım 2023'de ayrıldım 
        </p>

        <a class="btn-link">Read More...</a>
    </div>
</div>
<div class="card">
    <div class="header">
        <div class="img-box">
            <img class="img-box1" src="https://pbs.twimg.com/profile_images/2016536988/monaddddd_400x400.JPG" alt="">
           
        </div>
        <span class="title">Monad Yazılım
    </span></div>

    <div class="content">
        <p>
           2023 Kasım Ayında Yazılım Destek ve Proje Uzmanı olarak başladım 
        </p>

        <a class="btn-link">Read More...</a>
    </div>
</div>

</div>